@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
}

@theme {
  --color-dark-blue: #112D49;
  --color-sky-blue: #f4f8f7;
  --color-off-white: #e3e3e3;

  /* ==== LINE HEIGht ====== */
  --spacing-120: 120%;
  /*==== Box Shadow ====*/
  --shadow-auth: 0px 10px 30px 0px #0000000d;
}

.auth-bg-image {
  background-image: url("/assets/images/webp/bg-img.webp");
}
